# IDEs
.idea/
.vscode/
*.swp
*.swo
*.iml
*.ipr
*.iws

# Build artifacts
target/
build/
dist/
bin/
out/

# Dependencies
node_modules/
.pnp
.pnp.js

# Local Data & 
ai-chatbot-service/embeddings.json
ai-chatbot-service/masters.txt

workspace.xml
# Object Storage Data
minio.exe
minio.data/
minio_data/*
.minio.sys/*
license.key
minio.license

# Vector Database (Local Qdrant)
qdrant.exe
storage/
.storage/
snapshots/
.qdrant-initialized
config/

*.exe
*.zip
*.license

# Environment / Logs
.env
.env.*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
Thumbs.db


