* {
  box-sizing: border-box;
}

body, html { 
  margin: 0; 
  padding: 0; 
  height: 100%; 
  width: 100%; 
  overflow: hidden; 
}

.dot { 
  width: 6px; 
  height: 6px; 
  background-color: rgb(36, 252, 176); 
  border-radius: 50%; 
  animation: bounce 1.4s infinite ease-in-out; 
}

.dot:nth-child(1) { animation-delay: -0.32s; }
.dot:nth-child(2) { animation-delay: -0.16s; }

@keyframes bounce { 
  0%, 80%, 100% { transform: scale(0); } 
  40% { transform: scale(1); } 
}

.sidebar-item:hover .more-icon { 
  opacity: 1 !important; 
  color: #fff !important; 
}

